.App {
  background-image: url(./github.png);
  background-color: rgb(44, 44, 44);
  background-repeat: no-repeat;
  background-position: 5px 100px;

  width: 100%;
  height: 100%;

  position: absolute;

  font-family: Helvetica;
}

#gitHubGranBox {
  background-color: rgb(226, 224, 240);

  height: 600px;
  width: 30%;
  min-width: 350px;

  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);

  border-radius: 20px;
  border: 4px solid darkslateblue;
}

#information {
  width: 100%;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  font-size: 300%;
  font-weight: 900;

  text-align: center;
}

.information2 {
  font-size: 18px;
  font-weight: 600;
}

#gitHubCard {
  background-color: white;

  height: 400px;
  width: 250px;

  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%) translateY(-50%);

  border-radius: 20px;
  border: 2px solid Gainsboro;
  box-shadow: 4px 2px 5px rgb(30, 0, 0);
  padding: 30px 10px 10px 10px;
  color: black;
  font-size: 30px;
  font-weight: 900;
}

img {
  width: 200px;
  height: 200px;

  border-radius: 20px;
  margin-bottom: 50px;
}

#searchBox {
  position: absolute;
  left: 50%;
  top: 650px;
  transform: translateX(-50%);
  min-width: 345px;
}

input {
  width: 200px;
 font-size: 29px;

 position: relative;
 top:6px;
}

Button {
  height: 40px;
  width: 140px;
}

button:hover {
  border: 2px solid darkslateblue;
}